.about {
	position: relative;
	height: 500px;
	background-position: 50% 50%;
    background-size: cover;
    background-image: url(../images/bg_4.jpg);
}
.about_layer {
	justify-content: center;
	display: flex;
	align-items: center;
	background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: white;
}
.about_layer_txt {
	margin-top: 250px;
	justify-content: center;
	display: flex;
	align-items: center;
	flex-direction: column;
}
.about_layer_txt h1{
	font-size: 60px;
}
.nav_3 {
	width: 450px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.home_white {
		color: white;
 }
 .lifestyle {
 	margin-top: 100px;
 	display: flex;
 	justify-content: space-between;
 }
 .lifestyle_left {
 	width: 70%;
 }
 .lifestyle_articles {
 	display: flex;
 	flex-wrap: wrap;
 }
 .lifestyle_article  {
 	margin-bottom: 50px;
 	display: flex;
 	justify-content: space-between;
 }
 .lifestyle_article_img {
 	border-radius: 5px;
 	width: 55%;
 	height: 400px;
 	background-position: 50% 50%;
    background-size: cover;
 }
 .lifestyle_article_description {
 	width: 40%
 }
 .p_article {
 	line-height: 2em;
 }
 .features_posts_2_article_btn {
 	background-color: orange;
  }
 

.lifestyle_article_img_1 {
	background-image: url(../images/image_1.jpg);
}
.lifestyle_article_img_2 {
	background-image: url(../images/image_2.jpg);
}
.lifestyle_article_img_3 {
	background-image: url(../images/image_3.jpg);
}
.lifestyle_article_img_4 {
	background-image: url(../images/image_4.jpg);
}
.lifestyle_article_img_5 {
	background-image: url(../images/image_5.jpg);
}
.lifestyle_article_img_6 {
	background-image: url(../images/image_6.jpg);
}
.features_posts_2_right {
	margin-top: 50px;
}
.holiday_seasons_recipes_right {
  	width: 100%;
  	margin-top: 50px;
}
  
  .holiday_seasons_recipes_right_img {
  	width: 100%;
}
.pagination{
	display: flex;
	justify-content: center;
	margin: auto;
}
.circle_pagination {
	margin-right: 10px;
	height: 30px;
	width: 30px;
	border-radius: 50%;
	border: 1px solid lightgrey;
	display: flex;
	justify-content: center;
	align-items: center;
}
.active {
	background-color: black;
	color: white;
}
body#home a#homenav,
body#about a#aboutnav,
body#foods a#foodsnav,
body#lifestyle a#lifestylenav
body#contact a#contactnav {
	color: darkgrey;
}
@media (max-width: 1200px) {
	.lifestyle {
		flex-direction: column;
	}
	.lifestyle_articles {
		justify-content: space-between;
	}
	.lifestyle_article {
		flex-direction: column;
		width: 48%;
	}
	.lifestyle_left {
		width: 100%;
		margin: auto;
	}
	.lifestyle_article_img {
		width: 100%;
	}
	.lifestyle_article_description {
		width: 100%;
	}
}
@media (max-width: 850px) {
	.lifestyle_articles {
		flex-direction: column;
	}
	.lifestyle_article {
		width: 95%;
		margin: auto;
		margin-bottom: 50px;
	}
}
